@{
    ViewBag.Title = "Home";
}

<br>
<br>
<div class="row">
    <h2>Aquí puedes solicitar una de las becas que ofrece el Instituto Tecnológico de Tijuana</h2>
    <br>
</div>
<div class="row justify-content-between">
    <div class="col-md-3">
        <div class="card">
            <img src="https://dam.cocinafacil.com.mx/wp-content/uploads/2018/09/alimentos-sistema-inmunologico1.jpg" class="card-img-top" width="250" height="200" alt="...">
            <div class="card-body">
                <h5 class="card-title">Alimenticia</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-secondary">Solicitar</a>
            </div>
        </div>

    </div>
    <div class="col-md-3">
        <div class="card">
            <img src="https://s.rfi.fr/media/display/08c178ea-1306-11ea-a740-005056a99247/w:980/p:16x9/money-2696228_1920_0.webp" class="card-img-top" width="250" height="200" alt="...">
            <div class="card-body">
                <h5 class="card-title">Socio-Económica</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-secondary">Solicitar</a>
            </div>
        </div>

    </div>
    <div class="col-md-3">
        <div class="card">
            <img src="https://www.revistacompensar.com/wp-content/uploads/2018/09/20-de-septiembre-7.jpg" class="card-img-top" width="250" height="200" alt="...">
            <div class="card-body">
                <h5 class="card-title">Excepción de pago</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-secondary">Solicitar</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img src="https://www.animalpolitico.com/wp-content/uploads/2013/11/Cultura-deportes.jpg" class="card-img-top" width="250" height="200"  alt="...">
            <div class="card-body">
                <h5 class="card-title">Reconocimiento de participación</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk...</p>
                <a href="#" class="btn btn-secondary">Solicitar</a>
            </div>
        </div>
    </div>
</div>
<br>
<br>

<div class="row">
    <h2>Además puedes informarte sobre distintas becas que otras organizaciones te ofrecen</h2>
    <br />
    <div id="carouselExampleControls" class="carousel slide"  data-ride="carousel">
        <div class="carousel-inner ">
            <div class="carousel-item ">
                <a href="https://www.gob.mx/becasbenitojuarez/articulos/beca-jovenes-escribiendo-el-futuro-de-educacion-superior">
                    <img src="https://presidente.gob.mx/wp-content/uploads/2019/02/Jovenes-construyendo-el-futuro-STPS.png" class="d-block w-100" alt="...">
                </a>
            </div>
            <div class="carousel-item active">
                <a href="https://funedmx.org/programas-lideres/">
                    <img src="https://itursulogalvan.edu.mx/images/Facebook_1024x1024.jpg" class="d-block w-100" alt="...">
                </a>
            </div>
            <div class="carousel-item">
                <a href="https://becas-mexico.mx/2015/becas-samsung/">
                    <img src="http://crnanuies.uas.edu.mx/images/2019/03/28/DSC_01931_large.jpg" class="d-block w-100" alt="...">
                </a>

            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next" >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>